body{
    background:rgb(171,171,171);
    color:rgb(255,255,255);
}

.container {
    width: 1140px;
    margin:0 auto;
    background:rgb(255,255,255);
    min-height: 100vh;
}
 .headercontainer {
     float:left;
     width:100%;
     height:auto;
     background::rgb(171,171,171);
 }
 .logo {
     float:left;
     background: white;
     width:100px;
     height: 100px;
     padding:10px;
 }
 .menu ul{
     float:left;
     height:100px;
     width:1020px;
     margin:auto;
     padding:0;
     background: white;
     color: black;
     height:100px;
     margin-top: 20px;
     list-style:none;
 }

 .menu ul li {
     float:left;
     display: block;
     width: 300px;
    text-align:center;
     font-size:40pt;
    
 }

.menu ul li a{
    text-decoration:none;
}

.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

#main{
    float:left;
    width:100%;
    background:rgb(255,255,255);
    display:block;
    margin:auto;
    }
   
    
h1{
    color: black;
    font-family: arial;
    size: 25 pt;
    text-align: center;

}
h2{
    color:rgb(171,171,171);
    font-family: Arial, Helvetica;
    size: 19pt;
    font-style:italic;
    text-align: center;
}
h3{
    color:black;
    font-family: arial;
    size: 15pt;
    text-align:left;
    margin-left: 60px;
    margin-top:50px;
    margin-bottom:5px;
}
h4{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-left:340px;
}
p{
    color: black;
    font-family: arial;
    size: 15 pt;
    margin-left:60px;

}

button {
    background-color: white;
    color: black;
    font-weight:bold;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 4px solid black; 
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a:visited{
    background-color: white;
    color:black;
    font-weight:bold;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 4px solid gray;
}
a:hover {
    color:grey;;
}
button-switchedof{
    background-color: white;
    color:rgb(160,160,160);
    font-weight:bold;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 4px solid rgb(160,160,160);
}
input{
    border:4px, dotted, rgb(171,171,171);
    font-family: arial;
    color:black;
    size:15pt;
    
}
.fotos{
    margin-left:240px;
    display:block;
}
.tekst1{
    margin-left:220px;
    float:left;
}
.tekst2{
    margin-left:50px;
    float:left;
}
.tekst3{
    margin-left:50px;
    float:left;
    margin-top:none;
}
.img2 {
    height: 100px;
    width: 100px;
    float: right;
    display: block;
    margin:10px;
    margin-right:400px;
    padding:20px;
}
#tijger{
    margin:10px;
    float:left;
    margin-left: 100px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#giraf{
    margin:10px;
    float:left;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
#beren{
    margin: 10px;
    float:left;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
#wittetijger{
    margin:10px;
    float:left;
    margin-left: 100px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
#kat{
    margin: 10px;
    float:left;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
#hond{
    margin: 10px;
    float:left;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

#tijger:hover, #giraf:hover, #beren:hover, #wittetijger:hover, #kat:hover, #hond:hover{
    filter:grayscale(0);
    transition: all ease-in-out 0.5s;
} 



form{
	display:block;
	margin:0 auto 50px;
	width:90%;
}

input{

    border:none;
    border-bottom:dotted 1px grey;
    margin-bottom:30px;
    float:none;
    width:100%;
}

form button {
    background-color: white;
    color: black;
    font-weight:bold;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    border: 4px solid black; 
    margin:auto;
}
button:hover {
    box-shadow:0 -5 30px grey;
}

input:focus {outline: none;}


a{text-decoration:none;}

textarea{
	width:99%;
	float:left;
	min-height:11.7em;
	resize:none;
    border:none;
    border-bottom:dotted 1px grey;
    margin-bottom:50px;
}

textarea:focus{outline:none;}

.text{
    flat:left;
}
.tijger{
    margin:20px;
    float:left;
}

.giraf{
    margin:20px;
    float:right;
}
.beren{
    margin:20px;
    float:left;
}
.wittetijger{
    margin:20px;
    float:right;
}
.kat{
    margin:20px;
    float:left;
}
.hond{
    margin:20px;
    float:right;
}
.beschrijving{
    margin-top:150px;
    margin-bottom:150px;
}

